.container{
    margin-top: 30px;
    text-align:center;
  
 
}
table{
    margin:auto;
 
 
}
input{
    border-width: 3px ;
    width: 205px;
    height:30px;
}
button{
    color:white;
    font-size: 30px;
    width:50px;
    background-color:rgb(50, 47, 255);
}
button:hover{
    background-color: khaki;
    color: black;
}